[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
langchain = "*"
openai = "==0.28.1"
google-search-results = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.11"
